<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

PRIYADHARSHINI K

Data Analyst

*"I am interested in Data Science because data science is an interesting subject where we can experiment with data, derive insights from it and in turn add value to the business or solve a particular problem. "*

### The following code adds all the numbers

In [1]:
50+80+120

250

1 BULLETED LIST

* Bangalore
* Chennai
* Delhi
* Kolkata
* Mumbai

2 TABLE 

| Name of Student | Total Marks Obtained |Total Marks | Rank |
| ----- | ----- | ----- | ----- |
| Daniel | 410 | 500 | 4 |
| Samuel | 390 | 500 | 5 |
| Emma | 452 | 500 | 2 |
| Jack | 473 | 500 | 1 |
| Isabella | 437 | 500 | 3 |

3 NUMBERED LIST 

1. Elephant
2. Cat
3. Lion
4. Tiger
5. Horse